*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e8f4f8;
}

.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-style:none;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
}


form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1{
   font-size: 2.2rem;
   margin-bottom: 20px;
   font-weight: 700;
   color: #1a73e8; 
   text-align: center;
}

#temp{
    height: 30px;
    padding: 10px;
    text-align:center;
    font-size: 1.2rem;
}
button{
    background-color: rgb(255, 66, 66);
    color: white;
    font-size: 1rem;
    border-style: none;
    padding: 5px;
    cursor: pointer;
    transition: backgroundColor 1.2s;
}
button:hover{
    background-color: rgb(235, 80, 80);
}