body{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  font-family:Arial;
}

.container{
  text-align:center;
}

button{
  padding:8px 15px;
  margin:5px;
  cursor:pointer;
}